<header class="header">
    <div class="header__wrapper">
        <a href="#" class="header__logo">
            <img src="./images/logo.svg" alt="logo">
        </a>

        <!--=include nav.html -->
        
        <a href="tel:+1 (321) 222 - 33 -33" class="header__phone">
            <img class="header__phone-icon" src="./svg/sprite.svg#icon-phone" alt="icon phone">
            <span class="header__phone-tel">+1 (321) 222 - 33 -33</span>
        </a>

        <button class="header__toggle">
            <span class="header__toggle-line"></span>
            <span class="header__toggle-line"></span>
            <span class="header__toggle-line"></span>
        </button>
    </div>
</header>