<div class="menu">
    <div class="menu__wrapper">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="#" class="menu__item-btn menu__item-btn--title">
                    Главная
                </a>
            </li>

            <li class="menu__item">
                <input type="checkbox" id="section1" class="menu__checkbox"/>
                <label for="section1" class="menu__item-btn menu__item-btn--title menu__item-label">Основное меню<span class="menu__item-icon"></span></label>

                <ul class="menu__list menu__item-content">
                    <li class="menu__item">
                        <a href="#" class="menu__item-btn">
                            Заказать вёрстку
                        </a>
                    </li>

                    <li class="menu__item">
                        <a href="#" class="menu__item-btn">
                            Отправить макет на проверку
                        </a>
                    </li>

                    <li class="menu__item">
                        <a href="#" class="menu__item-btn">
                            Хочу работать у вас
                        </a>
                    </li>

                    <li class="menu__item">
                        <input type="checkbox" id="section2" class="menu__checkbox"/>
                        <label for="section2" class="menu__item-btn menu__item-label"><span class="desktop-hide">Есть предложение по работе с клиентами</span><span class="mobile-hide">Есть предложение по работе с кл...</span><span class="menu__item-icon menu__item-icon--sub"></span></label>

                        <ul class="menu__list menu__item-content menu__item-content--sub">
                            <li class="menu__item">
                                <a href="#" class="menu__item-btn">
                                    У меня есть оффер
                                </a>
                            </li>
        
                            <li class="menu__item">
                                <a href="#" class="menu__item-btn">
                                    Сделать партнёром
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__item-btn menu__item-btn--title">
                    Наши сервисы
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__item-btn menu__item-btn--title">
                    Контакты
                </a>
            </li>
        </ul>
    </div>
</div>